:root {
  --slate-900: rgba(15, 23, 42, 1);
  --subtle-medium-font-family: "Inter", Helvetica;
  --subtle-medium-font-weight: 500;
  --subtle-medium-font-size: 14px;
  --subtle-medium-letter-spacing: 0px;
  --subtle-medium-line-height: 20px;
  --subtle-medium-font-style: normal;
  --h-2-font-family: "Inter", Helvetica;
  --h-2-font-weight: 600;
  --h-2-font-size: 30px;
  --h-2-letter-spacing: -0.225px;
  --h-2-line-height: 36px;
  --h-2-font-style: normal;
  --body-medium-font-family: "Inter", Helvetica;
  --body-medium-font-weight: 500;
  --body-medium-font-size: 14px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 24px;
  --body-medium-font-style: normal;
  --shape-corner-medium: 12px;
  --shape-corner-small: 8px;
}
