Last login: Thu Jun 26 20:53:16 on ttys000
rushil_arafath@rushils-mbp ~ % nano d
rushil_arafath@rushils-mbp ~ % nano f
rushil_arafath@rushils-mbp ~ % nano g
rushil_arafath@rushils-mbp ~ % nano h
rushil_arafath@rushils-mbp ~ % nano j 


















  UW PICO 5.09                        File: j                         Modified  

  --body-medium-font-size: 14px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 24px;
  --body-medium-font-style: normal;
  --subtle-font-family: "Inter", Helvetica;
  --subtle-font-weight: 400;
  --subtle-font-size: 14px;
  --subtle-letter-spacing: 0px;
  --subtle-line-height: 20px;
  --subtle-font-style: normal;
  --shape-corner-medium: 12px;
  --shape-corner-small: 8px;
} 
  
  
  
  
  
  

^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
