Last login: Thu Jun 26 20:53:16 on ttys000
rushil_arafath@rushils-mbp ~ % nano d
rushil_arafath@rushils-mbp ~ % nano f
rushil_arafath@rushils-mbp ~ % nano g
rushil_arafath@rushils-mbp ~ % nano h



















  UW PICO 5.09                        File: h                         Modified  

}
  
.view-team .vector-10 {
  position: absolute;
  width: 7px;
  height: 5px;
  top: 11px;
  left: 104px;
}
  
  
  

  
  
  
  
  
  

^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
