Last login: Thu Jun 26 20:31:07 on ttys000
rushil_arafath@rushils-mbp ~ % nano w
rushil_arafath@rushils-mbp ~ % nano e
rushil_arafath@rushils-mbp ~ % nano r
rushil_arafath@rushils-mbp ~ % nano s
rushil_arafath@rushils-mbp ~ % nano t
rushil_arafath@rushils-mbp ~ % nano y
rushil_arafath@rushils-mbp ~ % nano u
rushil_arafath@rushils-mbp ~ % nano i
rushil_arafath@rushils-mbp ~ % nano o
rushil_arafath@rushils-mbp ~ % nano p













  UW PICO 5.09                        File: p                         Modified  

:root {
  --h-2-font-family: "Inter", Helvetica;
  --h-2-font-weight: 600;
  --h-2-font-size: 30px;
  --h-2-letter-spacing: -0.225px;
  --h-2-line-height: 36px;
  --h-2-font-style: normal;
  --shape-corner-small: 8px;
}











^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
