Last login: Thu Jun 26 20:31:07 on ttys000
rushil_arafath@rushils-mbp ~ % nano w
rushil_arafath@rushils-mbp ~ % nano e
rushil_arafath@rushils-mbp ~ % nano r
rushil_arafath@rushils-mbp ~ % nano s
rushil_arafath@rushils-mbp ~ % nano t
rushil_arafath@rushils-mbp ~ % nano y
rushil_arafath@rushils-mbp ~ % nano u
rushil_arafath@rushils-mbp ~ % nano i















  UW PICO 5.09                        File: i                         Modified  

  line-height: normal;
  white-space: nowrap;
}
  
.employee-page .text-wrapper-41 {
  position: absolute;
  top: 14px;
  left: 196px;   
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7f7f7f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
} 
  
  
  
                            [ Unknown Command: ^S ]                             
^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
