Last login: Thu Jun 26 20:53:16 on ttys000
rushil_arafath@rushils-mbp ~ % nano d
rushil_arafath@rushils-mbp ~ % nano f
rushil_arafath@rushils-mbp ~ % nano g
rushil_arafath@rushils-mbp ~ % nano h
rushil_arafath@rushils-mbp ~ % nano j 
rushil_arafath@rushils-mbp ~ % nano k
rushil_arafath@rushils-mbp ~ % nano l
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ; 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;

  UW PICO 5.09                       New Buffer                       Modified  

  border: 1px solid;
  border-color: #dadada;
}
  
.enter-evaluation .menu-item-2 {
  position: relative;
  flex: 1;   
  opacity: 0.5;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #3a3a3a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
  
  
  
  

^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
