Last login: Thu Jun 26 20:31:07 on ttys000
rushil_arafath@rushils-mbp ~ % nano w
rushil_arafath@rushils-mbp ~ % nano e
rushil_arafath@rushils-mbp ~ % nano r
rushil_arafath@rushils-mbp ~ % nano s
rushil_arafath@rushils-mbp ~ % nano t
rushil_arafath@rushils-mbp ~ % nano y
rushil_arafath@rushils-mbp ~ % nano u
rushil_arafath@rushils-mbp ~ % nano i
rushil_arafath@rushils-mbp ~ % nano o
rushil_arafath@rushils-mbp ~ % nano p
rushil_arafath@rushils-mbp ~ % nano [
rushil_arafath@rushils-mbp ~ % nano p
rushil_arafath@rushils-mbp ~ % nano ]
rushil_arafath@rushils-mbp ~ % nano \
> 
rushil_arafath@rushils-mbp ~ % nano a







  UW PICO 5.09                        File: a                         Modified  

}
  
.enter-evaluation .menu-item-2 {
  position: relative;
  flex: 1;   
  opacity: 0.5;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #3a3a3a;   
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
  
  
  
  
  
  

^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
