Last login: Thu Jun 26 20:25:15 on ttys000
rushil_arafath@rushils-mbp ~ % nano globals.css
rushil_arafath@rushils-mbp ~ % nano style.css
rushil_arafath@rushils-mbp ~ % nano globals.css
rushil_arafath@rushils-mbp ~ % nano styleguide.css
rushil_arafath@rushils-mbp ~ % nano index.html
rushil_arafath@rushils-mbp ~ % nano globals.css
rushil_arafath@rushils-mbp ~ % nano globals2.css
rushil_arafath@rushils-mbp ~ % nano index.html2
rushil_arafath@rushils-mbp ~ % nano style2.css
rushil_arafath@rushils-mbp ~ % nano styleguide2.css
rushil_arafath@rushils-mbp ~ % nano jit
rushil_arafath@rushils-mbp ~ % nano jatt
rushil_arafath@rushils-mbp ~ % nano jutt










  UW PICO 5.09                       File: jutt                       Modified  

  position: absolute;
  width: 15px;
  height: 13px;  
  top: 44px;
  left: 1584px;
}
  
.employee-page .edit {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 40px;
  left: 1762px;
} 
  
  
  

  

^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
