Last login: Thu Jun 26 20:53:16 on ttys000
rushil_arafath@rushils-mbp ~ % nano d
rushil_arafath@rushils-mbp ~ % nano f
rushil_arafath@rushils-mbp ~ % nano g
rushil_arafath@rushils-mbp ~ % nano h
rushil_arafath@rushils-mbp ~ % nano j 
rushil_arafath@rushils-mbp ~ % nano k
rushil_arafath@rushils-mbp ~ % nano l
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ; 
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;
rushil_arafath@rushils-mbp ~ % nano ;

  UW PICO 5.09                       New Buffer                       Modified  

}
  
.manager-page .calendar {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 161px; 
  left: 1555px;
}
  
.manager-page .clipboard {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 162px;
  left: 739px;
} 
  
  

^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
