:root {
  --h-2-font-family: "Inter", Helvetica;
  --h-2-font-weight: 600;
  --h-2-font-size: 30px;
  --h-2-letter-spacing: -0.225px;
  --h-2-line-height: 36px;
  --h-2-font-style: normal;
  --shape-corner-small: 8px;
}
